/*Truco para uniformidad de texto entre navegadores*/
html{/* esto sirve para que entre navegadores distintos no cambie tanto. para tener una uniformidad entre navegadores */
    font-size: 62.5%;
}

body{
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: var(--COEmY);
    overflow: hidden;
}
header{
    width: 100%; /*Para que el header ocupe todo el ancho de la pantalla*/
    height: 60px;   
}
/*Busca una etiqueta nav que esté dentro de la etiqueta header*/
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-seccion-derecha{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* Para quitar los puntos de la lista */
    justify-content: center;
    align-items: center;
}
nav .nav-seccion-derecha a{
    margin-right: 20px; 
    color: #000000;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
nav .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
   }
nav .nav-seccion-derecha img{
    border-radius: 50px;
    margin-left: 10px;
}
 /*----------------------------------------------------------- */
 /* MAIN */
 main{
    margin-top: 150px;
    text-align: center;
 }
 main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
 }
 main .main-logo img{
    height: 92px;
    width: 272px;
 }
 main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
 }
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input .search-icon {
    background-image:
   url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon {
    background-image:
   url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
   }

   main .main-buttons {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
   }
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    border: 1px double #c6c6c6;
    box-shadow: 0 1px 1px #38383d63;
    color: #222;
}
/* -------------------------------------------------------------- */
/* PIE DE PAGINA */
footer{
    color: #000000;
}
.google-footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    color: #000000;
    margin-top: 100px;

  }
  
  .footer-top {
    text-align: left;
    padding: 0px 30px;
    background-color: #f2f2f2;
    font-size: 14px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-top: 1px solid #e4e4e4;
  }
  
  .footer-left a,
  .footer-right a {
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;

  }
  
  .footer-left a:hover,
  .footer-right a:hover {
    text-decoration: underline;
  }
